html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

:focus {
  outline: none;
}

#carousel {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
  width: 500px;
  height: 300px;
  position: relative;

  &:hover #prev-btn,
  &:hover #next-btn {
    opacity: 1;
  }


  .carousel-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    .slide {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.3s ease;
    }

    .slide1 {
      background-color: blue;
    }

    .slide2 {
      background-color: yellow;
    }

    .slide3 {
      background-color: green;
    }

    .slide4 {
      background-color: #e952ff;
    }

    .slide5 {
      background-color: #ff9d15;
    }

    .slide6 {
      background-color: #7cc0ff;
    }

    .active {
      opacity: 1;
      z-index: 2;
    }
  }

  .carousel-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    .dot {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
    }

    .dot-active {
      background-color: #454545;
    }

    .dot + .dot {
      margin-left: 10px;
    }
  }
}

.btn {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
  opacity: 0.3;
  font-size: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

#prev-btn {
  left: 0;
}

#next-btn {
  right: 0;
}



